.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    width:300px;
    height: 300px;
    border: 2px solid black;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
     transition: all 3s linear ; 
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: rotate(-45deg); */
    /* transform: skew(45deg); */
    transform: translate(0px,-500px);
}
p{
   font-family: 'Courier New', Courier, monospace; 
   font-size: px;
   font-style: italic;
   color: darkblue;
}



